body{
    margin: 0px;
    padding:0px;
}
head{
    margin: 0px;
    padding:0px;
}
header{
    text-align: center;
    background-color: rgb(247, 247, 247);
    padding: 8px;
    float: top;
    border: 4px solid #c7c7c7;
}
h1{
    font-size: 35px;
    font-weight: 700;
}
header p{
    font-size: 18px;
}
.order{
    width: 35px;
}
.order{
    width: 70px;
}
section{
    padding: 5px 10px;
}
.button{
    padding: 3px 6px;
    border: 2px solid #849294;
    border-radius: 2px;
}
footer{
    background-color: rgb(247, 247, 247);
    border: 4px solid #c7c7c7;
    padding: 5px 4px;
    float: bottum;
    text-align: center;
}
.footer{
    margin: 0px;
    padding: 5px 1px;
    background-color: rgb(247, 247, 247);
    width: 100%;
    position: absolute;
    bottom: 0;
}
.footer p{
text-align: center;
}
